NEXT_PUBLIC_API_URL=https://api.meetingautomator.com
NEXT_PUBLIC_GOOGLE_CLIENT_ID=
NEXT_PUBLIC_CDN_URL=https://media.meetingautomator.com
NEXT_PUBLIC_SITE_URL=https://admin.meetingautomator.com
NEXT_PUBLIC_CLARITY_PROJECT_ID=
